### Gradle ###
.gradle/
build/

### IntelliJ / Android Studio ###
.idea/
*.iml
*.iws
out/

### Local Properties (보안 관련) ###
local.properties
.bundle/

### Heap Dumps ###
*.hprof
*.pyc

### OS 관련 ###
.DS_Store
Thumbs.db
